html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.container {
  padding: 15px;
  height: 100%;
}

.logo img {
  max-height: 150px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  padding-left: 10px;
  display: inline;
}

.nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  background-image: linear-gradient(
    90deg,
    #53cbef 0%,
    #dcc66c 50%,
    #ffa3b6 75%,
    #53cbef 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #000;
}

.slide-show {
  height: 400px;
  background: white;
}

.cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-header {
  font-size: bold;
  color: red;
}

.card-header:hover {
  color: blue;
}

.card {
  position: relative;
}

.card-details {
  visibility: hidden;
  transition: all ease 5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.contact {
  margin-top: 10%;
}

.contact input {
  margin: 10px;
}

.search button {
  background: color #444141;
  border: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 6px 3px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
}

.search button:hover {
  background-image: linear-gradient(
    90deg,
    #53cbef 0%,
    #dcc66c 50%,
    #ffa3b6 75%,
    #53cbef 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #000;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}
